body {
	background-color: white;
}
.notbold {
	font-weight: normal
}
.content {
  max-width: 1000px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.left {
	vertical-align: top;
	font-size: 20px;
	text-align: center;
	padding-right: 0px;
}
.middle {
	vertical-align: top;
	font-size: 20px;
	text-align: center;
	padding-left: 10px;
}
.right {
	vertical-align: top;
	padding-left:25px;
}
h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom:1px;
}
h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom:1px;
}
h1 {
	font-size:35px;
}
h2 {
	font-size:30px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.element {
	margin-top: 8px;
}
.conf {
	display: inline-block;
	font-style: italic;
}
.location {
	display: inline-block;
	font-style: italic;
	font-size:14px;
}
.link {
	margin-top: 3px;
	margin-bottom: 0px;
	display: inline-block;
	margin-right: 5px;
}
.description {
	/* color: #555555; */
	color: grey;
	/* font-size:16px; */
	display: block;
}
.header-icon {
	height:45px;
}
.abstract {
	background-color: rgba(180, 230, 255);
	padding: 8px;
	border: solid 1px grey;
	display: none;
}
/*
a:after {
content:"";
display:inline-block;
width:11px;
height:11px;
background:url(images/external_blue.svg) no-repeat;
background-size:100%;
}
*/
a[href^="#"]:after {
	display:none;
}
.special-links:after {
	display:none;
}
.self-author {
	color: #38610B
}
